.divider {
  height: 1px;
  width: 100%;
  display: block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: $input-border;
}

#peopleContainer {
  h2 {
    display: inline-block;
  }
  .deletePerson {
    .glyphicon {
      font-size: 25px;
      margin-top: 8px;
      cursor: pointer;
    }
    text-align: right;
  }
}